.container {
    max-width: 720px;
    margin: 4px auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;


}

.container h1 {
    color: #fff;
}

.containerHeader {
    display: flex;
    flex-direction: row;

    button {
        background: transparent;
        border: 0;
        margin-left: 1rem;
    }
}

.listOrders {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.orderItem {
    display: flex;
    flex-direction: row;
    background-color: #101020;
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button {
        border: 0;
        font-size: 1.2rem;
        background: transparent;
        align-items: center;
        height: 60px;
        color: #fff;
        display: flex;
    }
}


.tag {
    width: 9px;
    background-color: #3fffa3;
    height: 60px;
    border-radius: 0.3rem 0 0 0.3rem;
    margin-right: 1rem;
}